#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        hml: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow_mods_left";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <9 8 10 11 23 22 40 39 8 9 10 11 12 22 23 24 25 26 36 37 38 39 40 27 41 7 42 43 44 45 46 47>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
        };

        hmr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow_mods_right";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            hold-trigger-key-positions = <1 2 3 4 5 15 16 17 29 1 2 3 4 5 15 16 17 18 29 30 31 32 33 0 14 28 13 42 43 44 45 46 47>;
            flavor = "balanced";
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    combos {
        compatible = "zmk,combos";

        par_l {
            bindings = <&kp LPAR>;
            key-positions = <17 18>;
            layers = <0 5>;
        };

        par_r {
            bindings = <&kp RPAR>;
            key-positions = <23 22>;
            layers = <0 5>;
        };

        bkt_l {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <4 5>;
            layers = <0 5>;
        };

        bkt_r {
            bindings = <&kp RBKT>;
            key-positions = <7 8>;
            layers = <0 5>;
        };

        brc_l {
            bindings = <&kp LBRC>;
            key-positions = <33 32>;
            layers = <0 5>;
        };

        brc_r {
            bindings = <&kp RBRC>;
            key-positions = <36 37>;
            layers = <0 5>;
        };

        del_l {
            bindings = <&kp DEL>;
            key-positions = <29 30>;
            layers = <0 5>;
        };

        del_r {
            bindings = <&kp DEL>;
            key-positions = <39 40>;
            layers = <0 5>;
        };

        to_win {
            bindings = <&to 5>;
            key-positions = <45 46 47>;
            layers = <0 5>;
        };

        to_mac {
            bindings = <&to 0>;
            key-positions = <42 43 44>;
            layers = <0 5>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwrt_hrm_mac {
            display-name = "MAC";
            bindings = <
&kp ESC           &kp Q                &kp W            &kp E            &kp R              &kp T                           &kp UP                &kp Y        &kp U               &kp I             &kp O             &kp P                         &kp BSPC
&kp LEFT_CONTROL  &hml LEFT_CONTROL A  &hml LEFT_ALT S  &hml LEFT_GUI D  &hml LEFT_SHIFT F  &kp G                 &kp LEFT  &kp ENTER  &kp RIGHT  &kp H        &hmr RIGHT_SHIFT J  &hmr RIGHT_GUI K  &hmr RIGHT_ALT L  &hmr RIGHT_CONTROL SEMICOLON  &kp SINGLE_QUOTE
&kp LEFT_SHIFT    &kp Z                &kp X            &kp C            &kp V              &kp B        &none              &kp DOWN              &kp N        &kp M               &kp COMMA         &kp DOT           &kp FSLH                      &kp RIGHT_SHIFT
                                                        &mt LGUI TAB     &lt 1 SPACE        &lt 2 ENTER                                           &lt 2 ENTER  &lt 1 SPACE         &lt 3 BACKSPACE
            >;
        };

        number {
            display-name = "NUM";
            bindings = <
&trans        &kp N1  &kp N2  &kp N3  &kp N4         &kp N5                           &mmv MOVE_UP                     &kp N6     &kp N7         &kp N8    &kp N9     &kp N0                  &trans
&kp LEFT_GUI  &kp N6  &kp N7  &kp N8  &kp N9         &kp N0           &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp PG_UP  &kp LEFT       &kp UP    &kp RIGHT  &mt RIGHT_CONTROL HOME  &trans
&trans        &trans  &trans  &trans  &kp BACKSPACE  &trans  &none                    &mmv MOVE_DOWN                   &kp PG_DN  &kp BACKSPACE  &kp DOWN  &trans     &kp END                 &trans
                              &trans  &trans         &trans                                                            &trans     &trans         &trans
            >;
        };

        symbol {
            display-name = "SYM";
            bindings = <
&trans  &kp EXCL               &kp AT    &kp HASH  &kp DLLR   &kp PRCNT                           &msc SCRL_UP                     &kp CARET  &kp AMPS        &kp ASTRK  &trans     &trans  &trans
&trans  &mt LEFT_CONTROL HOME  &kp LEFT  &kp UP    &kp RIGHT  &kp PG_UP           &msc SCRL_LEFT  &mkp MB3        &msc SCRL_RIGHT  &kp BSLH   &kp MINUS       &kp EQUAL  &kp GRAVE  &trans  &trans
&trans  &kp END                &none     &kp DOWN  &none      &kp PG_DN  &none                    &msc SCRL_DOWN                   &kp PIPE   &kp UNDERSCORE  &kp PLUS   &kp TILDE  &trans  &trans
                                         &trans    &trans     &trans                                                               &trans     &trans          &trans
            >;
        };

        func {
            display-name = "FUNC";
            bindings = <
&trans  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5                            &mmv MOVE_UP                     &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOL_UP  &kp C_BRI_DN  &kp C_BRI_UP      &trans
&trans  &kp F6   &kp F7   &kp F8  &kp F9  &kp F10           &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &trans      &kp LEFT_SHIFT     &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_CONTROL  &trans
&trans  &kp F11  &kp F12  &trans  &trans  &trans   &none                    &mmv MOVE_DOWN                   &trans      &kp C_PREV         &kp C_PP      &kp C_NEXT    &trans            &trans
                          &trans  &trans  &trans                                                             &trans      &trans             &trans
            >;
        };

        system {
            bindings = <
&trans          &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                            &rgb_ug RGB_BRI                   &trans       &trans      &trans  &trans        &trans        &trans
&trans          &trans        &trans        &trans        &trans        &trans                 &rgb_ug RGB_EFR  &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &trans       &trans      &trans  &trans        &trans        &trans
&studio_unlock  &bt BT_CLR    &trans        &trans        &sys_reset    &bootloader   &none                     &rgb_ug RGB_BRD                   &bootloader  &sys_reset  &trans  &out OUT_USB  &out OUT_BLE  &trans
                                            &trans        &trans        &trans                                                                    &trans       &trans      &trans
            >;

            label = "SYS";
        };

        qwrt_win {
            display-name = "WIN";
            bindings = <
&kp ESC         &kp Q  &kp W  &kp E                 &kp R      &kp T                         &kp UP                &kp Y        &kp U        &kp I            &kp O    &kp P          &kp BSPC
&kp LEFT_GUI    &kp A  &kp S  &kp D                 &kp F      &kp G               &kp LEFT  &kp ENTER  &kp RIGHT  &kp H        &kp J        &kp K            &kp L    &kp SEMICOLON  &kp SQT
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C                 &kp V      &kp B      &none              &kp DOWN              &kp N        &kp M        &kp COMMA        &kp DOT  &kp FSLH       &kp RIGHT_SHIFT
                              &mt LEFT_CONTROL TAB  &kp SPACE  &kp ENTER                                           &lt 2 ENTER  &lt 1 SPACE  &lt 3 BACKSPACE
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        system {
            if-layers = <1 2>;
            then-layer = <4>;
        };
    };
};
